*{
  box-sizing: border-box;
  font-family: "Times New Roman";
}

body{
margin: 0;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* header */
header {
  width: 100%;
  height: 200px;
}

.header-logo {
  float: left;
  padding: 33px 20px 40px 20px;
}

.header-logo a {
  color: black;
  border-bottom: 2px solid rgba(180, 161, 93, 0.79);
  position: absolute;
    top: 50px;
    left: 70px;
    font-size: 35px;
    font-weight: bold;
}

header li {
  float:left;
  padding: 33px 22px;
  list-style: none;
}

.header-list a{
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.header-list a:hover{
  color: blue;
}

.header-logo a:hover{
  color: blue;
}


header ul {
  list-style: none;
  float: right;
  padding-right: 40px;
}

.container .menu-icon {
  color: black;
  float: right;
  font-size: 25px;

  display: none;
}

@media(max-width:670px) {
  .header-list{
    display: none;
  }

  .container .menu-icon{
    display: block;
    padding: 60px 40px;
  }

  .header-logo a{
    font-size: 22px;
    position: absolute;
      top: 50px;
      left: 35px;
  }


}

/* top-wrapper */

.top-wrapper {
  width: 100%;
  height:650px;
  text-align: center;
  padding: 0 25%;
  margin-bottom: 60px;
}

.top-wrapper .container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  flex: auto;
  width: 30%;
  height: auto;
}

.photo {
padding-bottom: 40px;
padding-right: 40px;
}

@media(max-width:670px) {
  .photo {
  padding-bottom: 10px;
  padding-right: 10px;
  }

  .top-wrapper {
    width: 100%;
    height:350px;
    text-align: center;
    padding: 0 5%;
    margin-bottom: 60px;
  }

}



/* message-wrapper */
.message-wrapper h1{
  margin: 0;
  padding:80px 120px 40px 120px;
}
.message-wrapper p{
  margin: 0;
  padding: 0 120px;
}

.about {
  height: 400px;
  background-color: black;
  color:white;
}

.time {
  height: 400px;
  background-color: rgba(180, 161, 93, 0.79);
  font-weight: bold;
}

@media(max-width:670px){
  .message-wrapper h1{
    margin: 0;
    padding:40px;
  }
  .message-wrapper p{
    margin: 0;
    padding: 0 40px;
    font-size: 10px;
  }

}

/* footer */
footer {
  padding-top: 30px;
  height: 50px;
  float: right;
}
